<section nz-row nzGutter="8" class="m-0 {{ position }}">
  <div nz-col nzLg="6" nzMd="8" nzXs="24">
    <nz-card nzHoverable (click)="createNewProduct()">
      <i nz-icon nzType="plus"></i>
      Insert new Product
    </nz-card>
  </div>

  @for (product of productList; track $index) {
    <ts-product-card
      nz-col
      nzLg="6"
      nzMd="8"
      nzXs="24"
      [product]="product"
      [actions]="[edit, disable]"
    ></ts-product-card>

    <ng-template #edit>
      <span
        nz-icon
        nzType="edit"
        nzTheme="outline"
        (click)="editProduct(product)"
      ></span>
    </ng-template>

    <ng-template #disable>
      @if (product.enabled) {
        <span nz-icon nzType="stop" nzTheme="outline"></span>
      } @else {
        <span nz-icon nzType="check" nzTheme="outline"></span>
      }
    </ng-template>
  }
</section>

<nz-drawer
  nzPlacement="right"
  nzWrapClassName="product-drawer"
  [nzClosable]="false"
  [nzVisible]="isDrawerOpen"
  [nzMaskClosable]="false"
  [nzTitle]="product?.id ? 'Edit Product' : 'Create Product'"
>
  <ng-container *nzDrawerContent>
    <ts-product-form
      [product]="product"
      (onCancel)="close()"
      (onSave)="onSave($event)"
    ></ts-product-form>
  </ng-container>
</nz-drawer>
