<section nz-row nzGutter="8">
  <div nz-col nzSpan="6">
    <nz-card nzHoverable>
      <i nz-icon nzType="plus"></i>
      Insert new Product
    </nz-card>
  </div>

  @for (product of productList; track $index) {
    <ts-product-card
      nz-col
      nzSpan="6"
      [product]="product"
      [actions]="[edit, disable]"
    ></ts-product-card>

    <ng-template #edit>
      <span nz-icon nzType="edit" nzTheme="outline"></span>
    </ng-template>

    <ng-template #disable>
      @if (product.enabled) {
        <span nz-icon nzType="stop" nzTheme="outline"></span>
      } @else {
        <span nz-icon nzType="check" nzTheme="outline"></span>
      }
    </ng-template>
  }
</section>
