<nz-layout class="base">
  <nz-header>
    <a class="pr-4" [routerLink]="['/', 'home']">
      <img src="../assets/img/TOY STORE.svg" alt="TOY STORE LOGO" />
    </a>

    <nz-space class="action-block" nzAlign="center" [nzSize]="2">
      <a
        *nzSpaceItem
        nz-button
        ts-profile
        nzType="text"
        nzShape="circle"
        [routerLink]="['/', 'admin']"
      >
        <span nz-icon nzType="setting" nzTheme="outline"></span>
      </a>

      <button
        *nzSpaceItem
        nz-button
        nzType="text"
        nzShape="circle"
        [nz-tooltip]="
          'Turn ' + (currentTheme === 'dark' ? 'on' : 'off') + ' the lights'
        "
        nzTooltipPlacement="bottomRight"
        (click)="changeTheme()"
      >
        <i
          nz-icon
          nzType="bulb"
          [class]="{
            fill: currentTheme === 'dark'
          }"
          [nzTheme]="currentTheme === 'dark' ? 'fill' : 'outline'"
        ></i>
      </button>

      <a
        *nzSpaceItem
        nz-button
        nzType="text"
        nzShape="circle"
        [routerLink]="['/', 'shopping-cart']"
      >
        <span nz-icon nzType="shopping-cart" nzTheme="outline"></span>
      </a>

      @if (isLoggedIn) {

      <button
        *nzSpaceItem
        nz-button
        nz-dropdown
        nzType="link"
        nzPlacement="bottomRight"
        [nzDropdownMenu]="userMenu"
      >
        {{ greeting }}
        <nz-avatar nzSize="small" nzIcon="user" class="ml-2"></nz-avatar>
      </button>

      } @else {

      <button
        *nzSpaceItem
        nz-button
        nz-dropdown
        nzType="link"
        [routerLink]="['/', 'login']"
      >
        {{ "login" }}
        <nz-avatar nzSize="small" nzIcon="user" class="ml-2"></nz-avatar>
      </button>

      }
    </nz-space>
  </nz-header>

  <nz-layout>
    <router-outlet></router-outlet>
  </nz-layout>
</nz-layout>

<nz-dropdown-menu #userMenu="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item (click)="logout()">
      <i nz-icon nzType="logout"></i>
      logout
    </li>
  </ul>
</nz-dropdown-menu>
