@import "mixin";

.themeMixin({
  :host {
    nz-layout.base {
      min-height: 100vh;
      overflow: hidden;

      > nz-layout {
        overflow: auto;
        height: calc(100vh - 67px);

        > *:not(router-outlet) {
          min-height: 100%;
        }
      }
    }

    .action-block {
      position: absolute;
      right: 55px;
      top: 0;
    }
  }
});
